body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#siteContent {
    margin-left: -40px; /* should match the width of the sidebar */
    transition: margin-left 0.5s;
    border-left: 1px solid #ccc; /* Add a border to the left side */
}

#sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: -180px; /* set to closed state initially */
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow: hidden;
    transition: left 0.5s;
    box-sizing: border-box; /* include padding in width */
}

#sidebar.closed {
    left: -200px; /* should match the width of the sidebar */
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    font-weight: 600;
    font-family: 'Fira Code', monospace;
}

#sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease; /* Add transitions for smooth animations */
}

#sidebar ul li:hover {
    background-color: #555;
    padding-left: 10px;
    color: rgb(107, 208, 255); /* Change the color of the hovered tab to blue */
    transform: scale(1.02); /* Slightly increase the size of the hovered tab */
}

#sidebar ul li.active {
    color: rgb(107, 208, 255); /* Change the color of the active tab to blue */
    border-left: 3px solid rgb(107, 208, 255); /* Add a left border to the active tab */
    padding-left: 5px;
    background-color: #444; /* Change the background color of the active tab */
}

#content {
    margin-left: 220px;
    padding: 20px;
}

.tab {
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.tab.active {
    display: block;
}

#header {
    font-size: 2.5em;
    text-align: left;
    margin-bottom: 20px;
    transform: rotate(-5deg);
    transform-origin: top left;
    font-weight: bold; /* Make the text bold */
    padding-left: 20px; /* Add padding to the left */
    padding-top: 10px;
    transition: transform 1s ease, color 0.3s ease; /* Combine the transitions */
    text-decoration: underline;
}

#header:hover {
    transform: rotate(0deg); /* Straighten the text when hovered */
    color: rgb(107, 208, 255); /* Change the color of the logo to blue when it's hovered over */
}

#separator {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
}


.subtabs {
    display: none;
    margin-left: 20px;
}

#openBracket, #closeBracket {
    font-size: 1.2em; /* Increase the size of the brackets */
    color: #f0f0f0; /* Change the color of the brackets */
    padding-right: 10px; /* Add space to the right of the open bracket */
    padding-left: 10px; /* Add space to the left of the close bracket */
}
#toggleButton {
    position: absolute;
    right: 0px; /* Adjust as needed */
    top: 0;
    width: 10px; /* Adjust as needed */
    height: 100%;
    background-color: rgb(107, 208, 255); /* Adjust as needed */
    cursor: pointer;
    box-sizing: border-box; /* include padding in width */
}

#toggleIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0 -6px 0 #fff, 0 6px 0 #fff;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* This percentage gives the 16:9 aspect ratio */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
}
.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}

.social-icons i {
    font-size: 50px; /* Adjust as needed */
}

.social-icons a:hover {
    color: #0000FF; /* Replace with the blue color of your site */
}

@keyframes twitch {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-5px, 5px) rotate(-5deg); }
    40% { transform: translate(-5px, -5px) rotate(5deg); }
    60% { transform: translate(5px, 5px) rotate(-5deg); }
    80% { transform: translate(5px, -5px) rotate(5deg); }
    100% { transform: translate(0, 0) rotate(0); }
}
.social-icons a:hover i {
    animation: twitch 0.5s infinite;
}

.social-icons .fa-youtube {
    color: #FF0000; /* YouTube color */
}

.social-icons .fa-github {
    color: #181717; /* GitHub color */
}

.social-icons .fa-itch-io {
    color: #FA5B5B; /* Itch.io color */
}

.social-icons .fa-coffee {
    color: #3E2723; /* Ko-fi color */
}

.social-icons .fa-twitter {
    color: #1DA1F2; /* Twitter color */
}

.social-icons .fa-discord {
    color: #7289DA; /* Discord color */
}